---
interface Props {
  title: string;
  subtitle?: string;
  className?: string;
}

const { title, subtitle, className = "" } = Astro.props;
---

<div class:list={["text-center", className]} data-animate>
  <h2 class="mt-20 mb-8 text-4xl font-light tracking-tight text-white">
    {title}
  </h2>
  {subtitle && <p class="text-lg text-neutral-400 mb-16">{subtitle}</p>}
</div>

<script>
  import { initializeObserver } from "@/utils/initializeObserver";
  initializeObserver();
</script>
