---
import BaseLayout from '../components/layout/BaseLayout.astro';
import AboutImage from '../assets/about.png';

const paragraphs = [
  "I have nearly 5 years of experience building scalable web applications using technologies like Angular, React, Node.js, .NET, and AWS. I've designed responsive frontend UIs, spun up and refactored new REST API services, integrated with complex microservice architectures. I enjoy working in collaborative environments, solving new challenges, and exploring new technologies.",
  "In my free time, I enjoy playing live music, learning new skills (this year it's Spanish), traveling and experiencing new cultures."
];
---

<BaseLayout title="About - Nikola Zjalic" description="About Nikola Zjalic - Full Stack Developer">
  <main class="mt-16">
    <div class="max-w-4xl mx-auto px-6">
      <h1 class="text-4xl font-bold text-white text-center mb-12">About Me</h1>
      
      <div class="flex flex-col lg:flex-row gap-12 items-start">
        <div class="w-full lg:w-1/2">
          <img
            src={AboutImage.src}
            alt="About section image"
            width={1000}
            class="rounded-2xl w-full"
          />
        </div>
        
        <div class="w-full lg:w-1/2 space-y-6">
          {paragraphs.map(paragraph => (
            <p class="text-lg text-neutral-300">
              {paragraph}
            </p>
          ))}
        </div>
      </div>
    </div>
  </main>
</BaseLayout>