---
import SectionTitle from "@/components/shared/SectionTitle.astro";
import { Images } from "@/utils/images";
import { ABOUT_CONTENT } from "@/contants/content";

interface Props {
  imageSrc?: string;
  paragraphs?: string[];
}
---

<div class="border-b border-neutral-900 pb-4" id="about">
  <SectionTitle title="About" />

  <div class="flex flex-wrap">
    <div class="w-full lg:w-1/2 lg:p-8" data-animate>
      <div class="flex items-center justify-center">
        <img
          src={Images.about.src}
          alt="About section image"
          width={1000}
          class="rounded-2xl"
        />
      </div>
    </div>
    <div class="w-full lg:w-1/2" data-animate>
      <div class="flex justify-center lg:justify-start flex-col">
        {
          ABOUT_CONTENT.map((paragraph) => (
            <p class="my-2 max-w-xl py-6 text-lg">{paragraph}</p>
          ))
        }
      </div>
    </div>
  </div>
</div>

<script>
  import { initializeObserver } from "@/utils/initializeObserver";
  initializeObserver();
</script>
