---
import SectionTitle from "@/components/shared/SectionTitle.astro";
import { ICONS } from "@/contants/icons";
import type { Technology } from "@/types/technology";
const technologies: Technology[] = [
  {
    name: "React",
    Icon: ICONS.REACT,
    color: "text-cyan-500",
    hoverColor: "hover:border-cyan-500",
    duration: 5,
  },
  {
    name: "Angular",
    Icon: ICONS.ANGULAR,
    color: "text-red-700",
    hoverColor: "hover:border-red-700",
    duration: 3,
  },
  {
    name: "TypeScript",
    Icon: ICONS.TYPESCRIPT,
    color: "text-sky-500",
    hoverColor: "hover:border-sky-500",
    duration: 6,
  },
  {
    name: ".NET",
    Icon: ICONS.DOTNET,
    color: "text-sky-500",
    hoverColor: "hover:border-sky-500",
    duration: 4,
  },
  {
    name: "Node.js",
    Icon: ICONS.NODEJS,
    color: "text-green-500",
    hoverColor: "hover:border-green-500",
    duration: 5,
  },
  {
    name: "PostgreSQL",
    Icon: ICONS.POSTGRES,
    color: "text-sky-600",
    hoverColor: "hover:border-sky-600",
    duration: 3,
  },
  // {
  //   name: "C++",
  //   Icon: ICONS.CPLUSPLUS,
  //   color: "text-blue-500",
  //   hoverColor: "hover:border-blue-500",
  //   duration: 3,
  // },
  // {
  //   name: "C",
  //   Icon: ICONS.C,
  //   color: "text-blue-500",
  //   hoverColor: "hover:border-blue-500",
  //   duration: 3,
  // },
  // {
  //   name: "Python",
  //   Icon: ICONS.PYTHON,
  //   color: "text-yellow-500",
  //   hoverColor: "hover:border-yellow-500",
  //   duration: 3,
  // },
];
---

<div class="border-b border-neutral-800 pb-24" id="technologies">
  <SectionTitle
    title="Technologies"
    subtitle="I've worked with a variety of technologies but these are my go-to's"
  />

  <div class="flex flex-wrap items-center justify-center gap-4" data-animate>
    {
      technologies.map((tech) => {
        const IconComponent = tech.Icon;
        return (
          <div
            class:list={[
              "rounded-2xl border-4 border-neutral-800 p-4 transition-colors duration-300",
              tech.hoverColor,
              `float-animation-${tech.duration}`,
            ]}
          >
            <IconComponent className={`w-16 h-16 ${tech.color}`} />
          </div>
        );
      })
    }
  </div>
</div>

<style>
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  .float-animation-1 {
    animation: float 1s ease-in-out infinite;
  }
  .float-animation-2 {
    animation: float 2s ease-in-out infinite;
  }
  .float-animation-3 {
    animation: float 3s ease-in-out infinite;
  }
  .float-animation-4 {
    animation: float 4s ease-in-out infinite;
  }
  .float-animation-5 {
    animation: float 5s ease-in-out infinite;
  }
  .float-animation-6 {
    animation: float 6s ease-in-out infinite;
  }
</style>

<script>
  import { initializeObserver } from "@/utils/initializeObserver";
  initializeObserver();
</script>
